<h1>About us</h1>
<p>This page was made by <a href="https://github.com/wsara">wsara</a> as part of <a href="https://onemonth.com/courses/one-month-rails/">One Month Rails</a>. You can find the code for this site at <a href="https://github.com/wsara/pinteresting">GitHub</a> if you are interested in tracking my progress. Thank you for visiting :)</p>
